nav {
  background-color: #dddddd;
  display:block;
}

ul {
  position: fixed;
  right: 40%;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  text-align: center;
  display: block;
  padding: 0.5em;
  background-color: #dddddd;
}
video{
  padding:3%;
  border:8px outset #FF9D35;
  background-color: #72DEDF;
}
#single3{
  position:absolute;
  right:20%;
}
#ao5{
  position:absolute;
  left:20%;
}
table{
  position:absolute;
  top:10%;
  left:7%;
}
